.wrapper {
    user-select: text;
    position: absolute;
    width: 99vw;
    height: 132vh;
    background-color: rgba(75, 62, 62, 0.842);
}
.loginDiv {
    position: absolute;
    top: 15%;
    left: 27%;
    padding: 4vw 0 0 1vw;
    width: 40vw;
    height: 50vh;
    background-color: rgb(206, 168, 159);
    border-radius: 10px;
    margin: 2vw;
    font-size: 3vh;
    color: rgb(255, 255, 255);
}

.loginInput {
    display: table;
    margin: 2%;
    width: 36vw;
    height: 6vh;
    border: none;
    border-radius: 10px;
    font-size: 2vh;
}

.button {
    border: 0;
    border-radius: 30px;
    width: 17.7vw;
    height: 5vh;
    outline: 0;
    font-size: 1.5vh;
    padding: 0.4vw;
    margin: 0 0.5vw 0.5vw 0.5vw;
}

.contract{
    margin-top:3px;
    margin-left:8px;
    margin-right: 3vw;
    color:black;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 30px;
    text-align: center;
    font-size: 0.7rem;

}