.wrapper {
    position: absolute;
    width: 99vw;
    height: 132vh;
    background-color: rgba(75, 62, 62, 0.842);
}
.myPageBack {
    float: right;
    border: 0;
    border-radius: 100%;
    width: 13vw;
    height: 13vw;
    outline: 0;
    font-size: 3vh;
    color: white;
    background-color: rgb(146, 115, 97);
}
.myPageBack:hover {
    cursor: pointer;
    background-color: rgb(116, 86, 69);
}
.myPageDiv {
    position: absolute;
    top: 1%;
    left: 2%;
    padding: 4vw;
    width: 82.6vw;
    height: 93vh;
    background-color: rgb(247, 218, 199);
    border-radius: 10px;
    margin: 2vw;
    font-size: 6vh;
    color: rgb(87, 41, 41);
}

.myPageContents {
    display: flex;
    align-items: center;
    border-top: 3px solid rgb(73, 49, 49);
    margin: 1.5vh 0 0 3vw;
    padding-top: 6vh;
    font-size: 4vh;
}

.tokenCheck {
    background-color: rgb(226, 191, 183);
    width: 20vw;
    border-radius: 20px;
    margin: 1.5vw;
    padding: 4vh 2vw 8vh 2vw;
}

.tokenSendDiv {
    background-color: rgb(226, 191, 183);
    width: 35vw;
    border-radius: 20px;
    padding: 2.1vh;
}

.tokenSendInput {
    display: table;
    margin-top: 2vh;
    width: 30vw;
    height: 6vh;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 3vh;
}

.userInfoButton {
    border: 0;
    border-radius: 30px;
    width: 19vw;
    height: 9vh;
    outline: 0;
    font-size: 3vh;
    margin: 2.5vw 0.5vw 0.5vw 0;
}

.button.addoption{
    margin-top:10px;
    color: black;
}

.result{
    margin-top:4px;
    color:black;
}

.button{
    cursor: pointer;
}

.meta{
    font-size: 0.8rem;
    font-weight: bold;
    color:orangered;
}